[submodule "i3-endeavoros/.config/i3"]
	path = i3-endeavoros/dot-config/i3
	url = git@github.com:jsdoublel/i3.git
	branch = main
[submodule "nvim/.config/nvim"]
	path = nvim/dot-config/nvim
	url = git@github.com:jsdoublel/nvim.git
	branch = main
